<fieldset>
  <legend>New User</legend>
  <!-- Name -->
  <p>
    <label for="name">Name</label>
    <textarea type="text" name="name" rows="1"/></textarea>
  </p>
  <!-- Bio -->
  <p>
    <label for="bio">Bio</label>
    <textarea type="text" name="bio" rows="2"/></textarea>
  </p>
</fieldset>
<!-- Stretch Challenge: Love of Patrami -->
<!-- <div class="dropdown">
  <button onclick="dropFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <ul>1</ul>
      <ul>2</ul>
      <ul>3</ul>
      <ul>4</ul>
      <ul>5</ul>
    </div>
</div> -->
