<h1>Sign Up For Our Newsletter</h1>

<div class="newsletter">
  <form action="/newsletter-confirmation" method="POST">
    Email: <input type="text" name="email" />
    <input type="submit"/>
  </form>
</div>
