<h1>{{user.name}}</h1>
<h2>{{user.bio}}</h2>

<p><a href="/users/{{user._id}}/edit">Edit User</a></p>

<p><form method="POST" action="/users/{{user._id}}?_method=DELETE">
  <button type="submit">Delete User</button>
</form></p>

<a href="/users">Back to All User</a>
