<h1>All Users</h1>

<a href="/users/new">New User</a>

<div class="row">
  {{#each users}}
    <div class="col-sm-3">
      <h2><a href="/users/{{this._id}}">{{this.name}}</a></h2>
      <h4>{{this.bio}}</h4>
    </div>
  {{/each}}
</div>
